<h1 class="text-center little-buffer">Produtos</h1>
<% if @products.empty? %>
    <p><%= @message_if_empty %></p>
<% else %>
  <section class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col card-group little-buffer">
          <article class="card" style="width: 18rem; max-width: 18rem;">
            <% if product.picture.present? %>
              <%= image_tag(product.picture, width:"100%", height:"180", class:'custom-file-input') %>
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
              </svg>
            <% end %>

            <div class="card-body">
              <h5 class="card-title text-center"><%= link_to product.name, product %></h5>
              <h6 class="product-brand text-center"><%= link_to product.brand, search_products_path(query: product.brand) %></h6>
              <p class="product-price text-center"> 
                <%= image_tag 'rubi', height: '16' %>
                <%= number_with_delimiter(product.current_price_in_rubis) %> 
              </p>
              <p class="product-category">
                <% if product.product_category.nil? %>
                  Sem categoria
                <% else %>
                 <strong> Categoria:</strong> <%= link_to product.product_category.name, by_category_products_path(product.product_category.id) %>
                <% end %>
              </p>
              <p class="card-text product-description"><%= product.description %></p>



              <div class="text-center">
                <% user_id = user_signed_in? ? current_user.id : user_id = 0 %>  
                <%= form_with url: user_cart_items_path(user_id) do |f| %>
                  <%= f.hidden_field :quantity, value: 1 %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.hidden_field :origin_page, value: request.fullpath %>
                  <%= f.submit 'Colocar no carrinho', id: "put_on_cart_#{product.id}", class: 'btn btn-outline-primary' %>
                <% end %>
              </div>
              
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
    
