<h2 class="text-center">Meus Pedidos</h2>

<% if @orders.empty? %>

  <p class='text center'>
    <strong> Você ainda não possui nenhum pedido. </strong>
  </p>
  
<% else %>

<div class="d-flex p-2">

 <div class="d-flex flex-column flex-shrink-0 p-3 text-blue" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-blue text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Filtrar</span>
    </a>
    <hr>
    <%= simple_form_for :search, url: user_orders_path(@orders.last.user), method: "GET", html: { class: 'mb-3' } do |f| %>
      <%= f.input :order_search, label: "Procurar Pedido", required: false %>
      <%= f.input :status, as: :check_boxes, collection: [["0", "Pendente"], ["5", "Aprovado"], ["9", "Cancelado"]], label_method: :second, value_method: :first, required: false, legend_tag: false %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
    <ul class="nav nav-pills flex-column mb-auto">
      
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

    <ol class="list-group list-group-numbered">
      <% @orders.each do |o|%>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              Pedido <%=o.code%> - <%= Order.human_enum_name(:status, o.status)%>
            </div>
            <ul class="list-group list-group-horizontal">
              <% o.cart_items.each do |ci|%>

                <li class="list-group-item">
                  <%= ci.product.name%>
                </li>

              <% end %>
            </ul>
          </div>
          <span class="badge bg-warning rounded-pill"><%= link_to "Detalhes do Pedido", order_path(o.id) %></span>
        </li>

      <% end %>
    </ol>

</div>

<% end %>