<h3 class='text-center'>Meu Pedido</h3>

<table class="table text-center align-middle m-auto" style="max-width: 900px">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th>Quantidade X Preço</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |item|%>
      <tr>
        <td class="text-start"> <%= link_to item.product.name, product_path(item.product.id) %></td>
        <td class="text-center"> <strong> <%=item.quantity%>  </strong></td> 
        <td class="text-center"> 
          <%= image_tag 'rubi', height: '16' %>
          <strong><%= number_with_delimiter(item.product.current_price_in_rubis) %></strong>
        </td>
        <td class="text-center"> 
          <%= image_tag 'rubi', height: '16' %>
          <strong><%= number_with_delimiter(item.product.current_price_in_rubis * item.quantity) %></strong>
        </td>
        <td><%= button_to 'Retirar', cart_item_path(item.id), class: 'btn btn-outline-danger mini-button', method: :delete %> </td>
      </tr>
    <%end%>
    <tr>
      <td colspan="4" class="text-center"> 
        <strong>Valor Total:</strong>
        &nbsp;
        <%= image_tag 'rubi', height: '16' %>
        <strong><%= number_with_delimiter(@sum).to_i %></strong> 
      </td>
    </tr>
  </tbody>
</table>

<div class="text center standard-width m-auto">
  <%= simple_form_for @order, url: user_orders_path(@user_id) do |cat| %>
    <%= cat.input :address %>
    <%= cat.input :user_id, :as => :hidden, :input_html => {value: @user_id} %>
    <div class="text-center little-buffer">
      <%= cat.button :submit, 'Confirmar', class: 'btn btn-outline-warning' %>
    </div>
  <% end %>

  <div class="text-center buffer">
    <%= link_to 'Voltar', user_cart_items_path(@user_id), class: 'btn btn-outline-primary mini-button' %>
  </div>
</div>