<h3 class='text-center'>Pedido <%=@order.code%></h3>
<table class="table text-center align-middle m-auto" style="max-width: 900px">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th>Quantidade X Preço</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |item|%>
      <tr>
        <td class="text-start"> <%= link_to item.product.name, product_path(item.product.id) %></td>
        <td class="text-center"> <strong> <%= item.quantity %>  </strong></td> 
        <td class="text-center"> 
          <%= image_tag 'rubi', height: '16' %>
          <strong><%= number_with_delimiter(item.price_on_purchase).to_i %></strong>
        </td>
        <td class="text-center"> 
          <%= image_tag 'rubi', height: '16' %>
          <strong> <%= number_with_delimiter(item.price_on_purchase * item.quantity).to_i %></strong>
        </td>
      </tr>
    <%end%>
    <tr>
      <td colspan="4" class="text-center"> 
        <strong>Valor Total:</strong>
        &nbsp;
        <%= image_tag 'rubi', height: '16' %>
        <strong><%= number_with_delimiter(@sum).to_i %></strong> 
      </td>
    </tr>
  </tbody>
</table>


<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">
        
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Endereço de entrega:</div>
              <%=@order.address%>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Solicitante:</div>
              <%=@order.user.name%>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Pedido feito em:</div>
              <%=I18n.l(@order.created_at)%>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%=Order.human_attribute_name(:status)%>:</div>
              <%=Order.human_enum_name(:status, @order.status)%>
              <%= "- saldo insuficiente para quitar pedido." if @order.error_type == 'insufficient_funds' %>
            </div>
          </li>
        </ul>
      
      </div>
    </div>
  </div>
</div>