<h3 class='text-center'>Meu Carrinho</h3>

<% if @cart.empty?%>
  <p class='text-center'>
    <strong>Adicione um produto ao carrinho!</strong>
  </p>
<% else %>
  <table class="table text-center align-middle m-auto" style="max-width: 900px">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Quantidade X Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |item|%>
        <tr>
          <td class="text-start"> <%= link_to item.product.name, product_path(item.product.id) %></td>
          <td class="text-center"> <strong> <%=item.quantity%>  </strong></td> 
          <td class="text-center"> <strong> <%=number_to_currency(item.product.current_price_in_rubis, precision: 2)%> </strong></td>
          <td class="text-center"> <strong> <%=number_to_currency(item.product.current_price_in_rubis * item.quantity, precision: 2)%> </strong></td>
          <td><%= button_to 'Retirar', cart_item_path(item.id), class: 'btn btn-outline-warning mini-button', method: :delete %> </td>
        </tr>
      <%end%>
    </tbody>
  </table>

  <div class="text-center buffer">
    <%= link_to 'Finalizar Pedido', new_user_order_path(@cart.last.user_id), class: 'btn btn-outline-primary mini-button' %>
  </div>
<% end %>

<div class="text-center buffer">
  <%= link_to 'Voltar', :back, class: 'btn btn-outline-primary mini-button' %>
</div>