<div class="text center standard-width m-auto">
  <%= simple_form_for [@product, @price] do |price| %>
    <%= price.input :price_in_brl %>
    <%= price.input :validity_start %>
    <div class="text-center little-buffer">
      <%= price.button :submit, 'Salvar', class: 'btn btn-success' %>
    </div>
  <% end %>

  <div class="text-center buffer">
    <%= link_to 'Voltar', product_path(@product), class: 'btn btn-outline-primary mini-button' %>
  </div>
</div>