<ul class="list-group">
  <% @promotions.each do |prom|%>

    <li class="list-group-item">
      <%= prom.name%> | <%= l prom.start_date %> | <%= l prom.end_date %> | <%=prom.code %>
    </li>

  <% end %>
</ul>

<div class="text center standard-width m-auto">
  <%= simple_form_for @promotion do |promo| %>
    <%= promo.input :name %>
    <%= promo.input :start_date %>
    <%= promo.input :end_date %>
    <%= promo.input :discount_percent %>
    <%= promo.input :maximum_discount %>
    <%= promo.input :absolute_discount_uses %>
    
    <%= promo.input :product_category_id, :as => :hidden, :input_html => {value: @user_id} %>
    <div class="text-center little-buffer">
      <%= cat.button :submit, 'Confirmar', class: 'btn btn-warning' %>
    </div>
  <% end %>

  <div class="text-center buffer">
    <%= link_to 'Voltar', user_cart_items_path(@user_id), class: 'btn btn-outline-primary mini-button' %>
  </div>
</div>
