<h1 class="text-center">Promoções</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th>Nome da Promoção</th>
      <th>Cupom</th>
      <th>Data incial</th>
      <th>Data final</th>
    </tr>
  </thead>
  <tbody>
    <% @all_promotions.each do |promo|%>
      <tr>
        <td><%= link_to promo.name, promotion_path(promo.id)%></td>
        <td><%= promo.code %></td>
        <td><%= l promo.start_date %></td>
        <td><%= l promo.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="text-center top-buffer">Cadastrar Promoção</h2>

<div>
  <%= form_for @promotion do |promo| %>
    <%= promo.label :name %>
    <%= promo.text_field :name %>
    <%= promo.label :start_date %>
    <%= promo.datetime_local_field :start_date %>
    <%= promo.label :end_date %>
    <%= promo.datetime_local_field :end_date %>
    <%= promo.label :discount_percent %>
    <%= promo.number_field :discount_percent %>
    <%= promo.label :maximum_discount %>
    <%= promo.number_field :maximum_discount %>
    <%= promo.label :absolute_discount_uses %>
    <%= promo.number_field :absolute_discount_uses %>

    <%= promo.label :product_category_ids, 'Categorias'%>
    <%= promo.select :product_category_ids, @categories.collect { |cat| [cat.name, cat.id] }, {}, multiple: true, id: 'new_promotion' %>

    <div>
      <%= promo.submit 'Criar nova promoção.' %>
    </div>
  <% end %>
</div>
