<nav aria-label="breadcrumb" class="catnav">
  <ol class="breadcrumb">
    <%= 'Sem categoria' if @product.product_category.nil? %>
    <% if !@product.product_category.nil? %>
      <% @product.product_category.ancestors.each do |ancestor_category|  %>
        <li class="breadcrumb-item"><%= link_to ancestor_category.name, by_category_products_path(ancestor_category) %></li>
      <% end  %>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to @product.product_category.name, by_category_products_path(@product.product_category.id) %></li>
    <% end %>
  </ol>
</nav>

<article>
  <h3 class="text-center"><%= @product.name %></h3>
  <br />

  <dl>
    <dt>SKU:</dt>
    <dd><%= @product.sku %></dd>
    <dt>Marca:</dt>
    <dd><%= @product.brand %></dd>
    <dt>Descrição: </dt>
    <dd><%= @product.description %></dd>
    <dt>Preço:</dt>
    <dd>
      <%= image_tag 'rubi', height: '16' %>
      <%= number_with_delimiter(@product.current_price_in_rubis) %> 
    </dd>
  <dl>
</article>

<div>
  <%user_id = user_signed_in? ? current_user.id : user_id = 0%>  
  <%= form_with url: user_cart_items_path(user_id) do |f|%>
    <%= f.label :quantity, 'Quantidade'%>
    <%= f.number_field :quantity, min: 1, value: 1%>
    <%= f.hidden_field :product_id, value: @product.id%>
    <%= f.hidden_field :origin_page, value: request.path %>
    <%= f.submit 'Adicionar ao carrinho'%>
  <%end%>
</div>
<div class="text-center buffer">
  <%= link_to 'Voltar', admin_signed_in? ? admin_products_path : root_path, class: 'btn btn-outline-primary mini-button' %>
</div>
