
<nav aria-label="breadcrumb" class="catnav">
  <ol class="breadcrumb">
    <%= 'Sem categoria' if @product.product_category.nil? %>
    <% if !@product.product_category.nil? %>
      <% @product.product_category.ancestors.each do |ancestor_category|  %>
        <li class="breadcrumb-item"><%= link_to ancestor_category.name, by_category_products_path(ancestor_category) %></li>
      <% end  %>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to @product.product_category.name, by_category_products_path(@product.product_category.id) %></li>
    <% end %>
  </ol>
</nav>

<article>
  <h3><%= @product.name %></h3>

  <% if admin_signed_in? %>
    <div id='status_buttons' class='d-flex'>
      <%= (button_to 'Suspender produto', update_status_product_path, params: { status: 'off_shelf'}, class: 'btn btn-outline-primary mini-button') unless @product.off_shelf? %>
      <%= (button_to 'Tornar produto um rascunho', update_status_product_path, params: { status: 'draft'}, class: 'btn btn-outline-primary mini-button') unless @product.draft? %>
      <%= (button_to 'Colocar produto à venda', update_status_product_path, params: { status: 'on_shelf'}, class: 'btn btn-outline-primary mini-button') unless @product.on_shelf? %>
    </div>
  <% end %>

  <dl>
    <% if admin_signed_in? %>
      <dt>Status:</dt>
      <dd><%= t("activerecord.attributes.product.status.#{@product.status}") %></dd>
    <% end %>
    <dt>SKU:</dt>
    <dd><%= @product.sku %></dd>
    <dt>Marca:</dt>
    <dd><%= @product.brand %></dd>
    <dt>Descrição: </dt>
    <dd><%= @product.description %></dd>
    <dt>Preço:</dt>
    <dd><%= number_to_currency(@product.current_price, precision: 2) %></dd>
  <dl>
</article>

<div>
  <%user_id = user_signed_in? ? current_user.id : user_id = 0%>  
  <%= form_with url: user_cart_items_path(user_id) do |f|%>
    <%= f.label :quantity, 'Quantidade'%>
    <%= f.number_field :quantity, min: 1, value: 1%>
    <%= f.hidden_field :product_id, value: @product.id%>
    <%= f.submit 'Adicionar ao carrinho'%>
  <%end%>
</div>
<div class="text-center buffer">
  <%= link_to 'Voltar', root_path, class: 'btn btn-outline-primary mini-button' %>
</div>
