<nav aria-label="breadcrumb" class="catnav">
  <ol class="breadcrumb">
    <%= 'Sem categoria' if @product.product_category.nil? %>
    <% if !@product.product_category.nil? %>
      <% @product.product_category.ancestors.each do |ancestor_category|  %>
        <li class="breadcrumb-item"><%= link_to ancestor_category.name, by_category_products_path(ancestor_category) %></li>
      <% end  %>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to @product.product_category.name, by_category_products_path(@product.product_category.id) %></li>
    <% end %>
  </ol>
</nav>

<article>
  <h3 class="text-center"><%= @product.name %></h3>
  <br />

  <% if admin_signed_in? %>
    <div id='status_buttons' class='d-flex justify-content-center'>
      <div style="margin-left: 10px; margin-right: 10px;"> <%= (button_to 'Suspender produto', update_status_product_path, params: { status: 'off_shelf'}, class: 'btn btn-outline-warning') unless @product.off_shelf? %></div>
      <div style="margin-left: 10px; margin-right: 10px;"><%= (button_to 'Tornar produto um rascunho', update_status_product_path, params: { status: 'draft'}, class: 'btn btn-outline-secondary') unless @product.draft? %></div>
      <div style="margin-left: 10px; margin-right: 10px;"><%= (button_to 'Colocar produto à venda', update_status_product_path, params: { status: 'on_shelf'}, class: 'btn btn-outline-success') unless @product.on_shelf? %></div>
    </div>
  <% end %>

  <dl>
    <% if admin_signed_in? %>
      <dt>Status:</dt>
      <dd><%= t("activerecord.attributes.product.status.#{@product.status}") %></dd>
    <% end %>
    <dt>SKU:</dt>
    <dd><%= @product.sku %></dd>
    <dt>Marca:</dt>
    <dd><%= @product.brand %></dd>
    <dt>Descrição: </dt>
    <dd><%= @product.description %></dd>
    <dt>Preço:</dt>
    <dd>
      <%= image_tag 'rubi', height: '16' %>
      <%= number_with_delimiter(@product.current_price_in_rubis) %> 
    </dd>
  <dl>
</article>

<div>
  <%user_id = user_signed_in? ? current_user.id : user_id = 0%>  
  <%= form_with url: user_cart_items_path(user_id) do |f|%>
    <%= f.label :quantity, 'Quantidade'%>
    <%= f.number_field :quantity, min: 1, value: 1%>
    <%= f.hidden_field :product_id, value: @product.id%>
    <%= f.submit 'Adicionar ao carrinho'%>
  <%end%>
</div>
<div class="text-center buffer">
  <%= link_to 'Voltar', admin_signed_in? ? admin_products_path : root_path, class: 'btn btn-outline-primary mini-button' %>
</div>

<% if admin_signed_in? %>
<hr />
<br />
<br />

  <h1 class="text-center">Configurações de Preço do Produto</h1>
  <br />
  <div class="text-center">
    <%= link_to 'Cadastrar nova configuração de preço', new_product_price_path(@product.id), class: 'btn btn-primary mini-button' %>
  </div>
  <br /><br />
  <div class="table-responsive">
    <table class="table mx-auto w-auto text-center" style="max-width: 700px; min-width: 700px;">
      <thead>
        <tr>
          <th>Início do Preço</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
      <% @product.prices.each do |price|  %>
        <tr>
          <td><%= I18n.l(price.validity_start) %></td>
          <td><%= number_to_currency(price.price_in_brl, precision: 2) %></td>
          <td>
            <%= link_to 'Editar', edit_product_price_path(@product, price), class: 'btn btn-outline-warning mini-button hbuffer' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

